<html>
    <head>
        <title>Testing</title>
        <meta charset="UTF-8">
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link href="index.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div id="app">
            <div class="item">
                Category: <select v-model="chosenCategory">
                    <option v-for="cat in categories" :value="cat">
                        {{cat}}
                    </option>
                </select>
            </div>
            <div class="item" v-for="item in shownItems">
                <span><a class="item-dl" :href="item.url">{{item.name}}</a> [{{item.category}}]</span>
                <p>{{item.description}}</p>
                <img :src="item.image">
            </div>
        </div>
        <script src="index.js"></script>
    </body>
</html>
